<!--<a class="pull-right" routerLink="/frequencias/cadastrar">Cadastrar frequência</a>-->
<h1>Gerenciar Turma</h1>
<table class="table table-hover table-striped table-bordered">
    <thead class="thead-light">
    <tr>
        <th scope="col">Disciplina</th>
        <th scope="col">Professor</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let turma of turmas">
        <td>{{turma.disciplina}}</td>
        <td>{{turma.professor}}</td>
        <td>
          <a routerLink="/registrar-notas" class="btn btn-primary">Registrar notas</a>
        </td>
        
    </tr>
    </tbody>
</table>